/*Animation*/

/*
Animacion par los botones de redes sociales al pasar el cursor se expande sutilmente
*/

.social-icon {
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
    color: #00f2ea; /* TikTok accent color */
}

 